@import '../../../assets/styles/var';

.MyButton {
   width: 100%;
   min-height: $formItemsHeigth;
   border-radius: 4px;
   color: #fff;
   background-color: $red;
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;

   transition: all 0.2s ease;

   &:hover {
      background-color: $lightRed;
   }

   &:active {
      background-color: $darkRed;
   }

   &:disabled {
      background-color: $lightestGreyWhite;
      color: $lightGray;
      cursor: default;
   }
}

.MyFuncButton {
   display: block;
   width: max-content;
   min-height: $formItemsHeigth;
   padding: 8px 24px;
   border-radius: 4px;
   background-color: $red;

   text-decoration: none;
   color: #fff;

   transition: all 0.2s ease;

   &:hover {
      background-color: $lightRed;
   }

   &:active {
      background-color: $darkRed;
   }

   &:disabled {
      background-color: $lightestGreyWhite;
      color: $lightGray;
      cursor: default;
   }
}

.MyFuncButtonCancel {
   display: block;
   text-align: center;
   width: 171px;
   min-height: $formItemsHeigth;
   padding: 8px 24px;
   border-radius: 4px;
   background-color: $lightestGreyWhite;
   border: 1px solid $lightGray;
   text-decoration: none;
   color: $lightGray;
   transition: all 0.2s ease;

   &:hover {
      background-color: $lightestGrey;
   }

   &:active {
      color: $grey;
      border: 1px solid $grey;
      background-color: $lightGray;
   }

   &:disabled {
      color: $lightestGrey;
      cursor: default;
   }
}
