// Colors

$darkGray: #303030;
$grey: #707070;
$lightGray: #9c9c9c;
$lightestGrey: #d1d1d1;
$lightestGreyWhite: #f6f6f6;
$darkRed: #c60e2e;
$red: #e4163a;
$lightRed: #ff5761;
$lightestRed: #ff768e;
$blue: #344472;

$formItemsHeigth: 40px;
